.ConvertTemp {
}
.ConvertBox textarea {
  width: 100%;
  border: transparent;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
}

.TempInfo {
  margin: auto;
  font-weight: 800;
  text-align: center;
}
